
rules:
 indent:
  - 2
  - tab
 quotes:
  - 2
  - single
 linebreak-style:
  - 2
  - unix
 semi:
  - 2
  - never
 comma-dangle:
  - 2
  - only-multiline
 array-bracket-spacing:
  - 2
  - always
 curly:
  - 2
  - all
 space-before-blocks: 2
 no-console: 1

parserOptions: 
 sourceType: module

env:
 node: true
 browser: true
 commonjs: true
 es6: true	
extends: 'eslint:recommended'
