<html>
<head>
    <meta charset="utf-8">
    <title>Test page</title>
</head>
<body>
<script type="text/javascript" src="http://localhost:3000/ludwig.js" charset="utf-8">
</script>
<script>
    var configuration = {
        repo: 'hoshin/git-api-tests',
        branch: 'newbranch',
        template: 'some+basic+template\r\nwith\r\n\tmultiple indented lines\r\n===============================================================================================================',
        prefix: 'test-ludwig',
        expectedTemplate: '{\r\n\t"data":"123",\r\n\t"toBe":{\r\n\t\t"used":1, \r\n\t\t"as":"template for expected state"\r\n\t}\r\n}',
        ludwigCreateSuggestionURL: 'http://localhost:3000/createSuggestion'
    }

    var ludwig = new Ludwig(configuration)
</script>
<script>
    var currentState = {
        step1: {selected: 'field1', value: 1234},
        step2: {checked: 'selection', value: [1, 'deux', {trois: 4}]},
        step3: {filled: 'demande_situation_detail', value: 'Ceci est un texte libre'},
        step4: {clicked: 'simulation', value: null}
    }

    function createLink() {
        var suggestionLink = ludwig.generateSuggestionURL(currentState, JSON.parse(document.getElementById('expected').value));
        var elementContainer = document.getElementById('linkContainer')
        elementContainer.setAttribute('href', suggestionLink)
        elementContainer.innerText = suggestionLink
    }

    function createSuggestion() {
        window.open(ludwig.generateSuggestionURL(currentState))
    }

    function showAcceptedTests() {
        window.open(ludwig.acceptedTestsURL())
    }

    function showSuggestedTests() {
        window.open(ludwig.suggestedTestsURL())
    }

    function createCompleteSuggestion() {
        var title = document.getElementById('title').value;
        var description = document.getElementById('description').value;
        var expected = JSON.parse(document.getElementById('expected').value);

        window.location = ludwig.generateLudwigSuggestionEndpointURL(title, description, currentState, expected);
    }
    window.onload = function () {
        document.getElementById('expected').value = ludwig.expectedTemplate;
    }
</script>

<!-- Begin page content -->
<div class="container">
    <h2>Page de démonstration de Ludwig et de son widget navigateur</h2>
    <div>
        <h4>Diverses actions possibles en passant directement par le widget (pas besoin du backend Ludwig) :</h4>
        <div class="form-group row">
            <input type="button" class="btn btn-default col-sm-6"
                   value="Générer un lien vers une nouvelle suggestion : ludwig.generateSuggestionURL()"
                   onclick="createLink()"/>
            <a class="col-sm-6" href="" id="linkContainer">
            </a>
        </div>
        <div class="form-group row">
            <input type="button" class="btn btn-default col-sm-6"
                   value="Créer la suggestion + rediriger l'utilisateur : ludwig.generateSuggestionURL()"
                   onclick="createSuggestion()"/>
        </div>
        <div class="form-group row">
            <input type="button" class="btn btn-default col-sm-6"
                   value="Aller à la page contenant les tests acceptés : ludwig.acceptedTestsURL()"
                   onclick="showAcceptedTests()"/>
        </div>
        <div class="form-group row">
            <input type="button" class="btn btn-default col-sm-6"
                   value="Aller à la page contenant les tests suggérés : ludwig.suggestedTestsURL()"
                   onclick="showSuggestedTests()"/>
        </div>
    </div>
    <div>
        <h4>Appels à l'API GitHub (nécessite de passer par le backend Ludwig):</h4>
        <div class="form-group row">
            <label class="col-sm-3" for="title">Titre</label>
            <input class="col-sm-3" type="text" id="title" name="title"/>
        </div>
        <div class="form-group row">
            <label class="col-sm-3" for="description">Description</label>
            <textarea class="col-sm-3" type="text" id="description" name="description"></textarea>
        </div>
        <div class="form-group row">
            <label class="col-sm-3" for="description">Données attendues</label>
            <textarea class="col-sm-3" type="text" id="expected" name="expected">

            </textarea>
        </div>
        <div class="form-group row">
            <input type="button" class="btn btn-default" value="Créer un ticket complet"
                   onclick="createCompleteSuggestion()"/>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <p class="text-muted"></p>
    </div>
</footer>

</body>

</html>

