<div ui-view>
  <h1>Ludwig</h1>
  <h2>Faciliter la validation collaborative des applications</h2>

  <div ng-if="identities.github">
    <p>Bonjour <code>{{identities.github}}</code>, vous êtes identifié sur GitHub.</p>
  </div>

  <div ng-if="! identities.github">
    <p><a href="/login/github">Connectez vous sur GitHub</a> pour permettre à votre communauté de participer à l'améliorer votre service&nbsp;!</p>
  </div>
  
  <h3>Liste des applications&nbsp;:</h3>
  <div>
      <p ng-repeat="id in repositoryIds">
          ID: {{ id }}
      </p>
  </div>
</div>
