<div id="account" ui-view>
  <div ng-if="auth.identities.github">
    <p>Bonjour <code>{{auth.identities.github}}</code>, vous êtes identifié sur GitHub.</p>
    <button ng-if="! auth.logout" ng-click="logout()">Vous déconnecter</button>
    <p ng-if="auth.logout">Vous avez été déconnecté.</p>
  </div>

  <h3 ng-if="repositories">Liste des dépôts pouvant être activés&nbsp;:</h3>
  <div>
      <div class="row repository" ng-repeat="repository in repositories">
        <div>
          {{ repository.full_name }}
        </div>
        <button ng-click="activateRepository(repository.full_name)">
          Activer
        </button>
      </div>
  </div>
</div>
