<div id="account" ui-view>
  <p>Bonjour <code>{{user.id}}</code>, vous êtes bien identifié.</p>
  <button ng-click="logout()">Vous déconnecter</button>

  <h3 ng-if="user.repositories.length">Liste des dépôts activés&nbsp;:</h3>
  <div>
      <div class="row repository" ng-repeat="repository in user.repositories">
        <div>
          {{ repository }}
        </div>
      </div>
  </div>

  <h3 ng-if="candidates">Liste des dépôts pouvant être activés&nbsp;:</h3>
  <div>
      <div class="row repository" ng-repeat="repository in candidates">
        <div>
          {{ repository.full_name }}
        </div>
        <button ng-click="activateRepository(repository.full_name)">
          Activer
        </button>
      </div>
  </div>
</div>
